.git
.local
**/.venv
**/node_modules
**/.terraform
**/__pycache__
**/*.pyc
**/*.egg-info
control
gateway-simulator
services/control/control
presentation
contracts/gen/go/gridos/
services/decision/gridos/gen/
